* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, orange 40%, darkviolet);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-box {
  width: 600px;
  height: 600px;
  background: linear-gradient(135deg, darkviolet 10%, orange);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  perspective: 1000px;
  padding: 10px;
}

.box {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
}

.front {
  background-color: black;
}

.back {
  transform: rotateY(180deg) rotateZ(50deg);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.all-info {
  display: flex;
  column-gap: 10px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.box.flip {
  transform: rotateY(180deg) rotateZ(50deg);
}

.fruit {
  font-size: 50px;
}

@media (max-width: 500px) {
  .main-box {
    width: 400px;
    height: 400px;
  }

  .box {
    width: 70px;
    height: 70px;
  }
}
